<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    
    {{#stylesheets}}
    <link rel='stylesheet' href={{.}} />
    {{/stylesheets}}
  </head>
  <body>
    <div id="helperWindow"></div>
    {{#titleBar}}
    <div class={{style.divClasses}} id="titlebar">
        <span class="works" id="openFilter"><img src={{source.titleImage}}></span>
        <h1 class="offWhiteText sailregular">
        
        {{info.headerText}}
        
        </h1>
        
    </div>
    {{/titleBar}}
    
    {{#filterNavigator}}
    <div class={{style.divClasses}} id="filterNavigator">
   
    </div>
     {{/filterNavigator}}
    <div id="mapDiv">
        {{#mapComponents}}
            <div id={{.}}></div>
        {{/mapComponents}}
    </div>
    <div id="report">
    </div>
    <script>var dojoConfig = { parseOnLoad:true };</script>
    {{#scripts}}
    <script src={{.}}></script>
    {{/scripts}}
    <script>
    
    
    </script>
    
    
  </body>
</html>