<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
    <title>{{ title }}</title>
    
    {{#stylesheets}}
    <link rel='stylesheet' href={{.}} />
    {{/stylesheets}}

      <script type="application/javascript" charset="UTF-8" src="http://d3js.org/d3.v3.min.js"></script>
  </head>
  <body>
    <div id="helperWindow"></div>
    {{#titleBar}}
    <div class={{style.divClasses}} id="titlebar">
        <span class="works" id="openFilter"><img src={{source.titleImage}}></span>
        <h1 class="offWhiteText sailregular">
        
        {{info.headerText}}
        
        </h1>
        
    </div>
    {{/titleBar}}
    
    {{#filterNavigator}}
    <div class={{style.divClasses}} id="filterNavigator">
   
    </div>
     {{/filterNavigator}}
    <div id="mapDiv">
        {{#mapComponents}}
            <div id={{.}}></div>
        {{/mapComponents}}
    </div>
    <div id="report">
        <div id="weatherForecast"></div>
    </div>
    <script>var dojoConfig = { parseOnLoad:true };</script>
    {{#scripts}}
    <script src={{.}}></script>
    {{/scripts}}
    <script>
    
    
    </script>
    
    
  </body>
</html>