

#weather{
    width: 440px;
    margin-left: auto ;
    margin-right: auto ;

    font-family:sf_burlington_scriptBdIt;

}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: #5e89d2;
    stroke-width: 2.5px;
}

.bar {
    fill: #5e89d2;
}

.bar:hover {
    fill: brown;
}
