

#weather{
    width: 440px;
    margin-left: auto ;
    margin-right: auto ;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2.5px;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}
