/*Font Settings*/

/*Default Settings*/
html, body, #mapDiv {
    padding: 0;
    margin: 0;
    height: 100%;
}

a {
    color: #00B7FF;
}

/*Map Settings*/

#locateButton{
    position: absolute;
    top: 145px;
    left: 20px;
    z-index: 50;
}

#basemapToggle{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 50;
}

#homeButton{
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 50;
}

/*Interface Settings*/